.ssh/
id_rsa*
secrets.yaml
.storage
.cloud
.google.token 
home-assistant.log
www/
esphome/
custom_components/
appdaemon
google_calendars.yaml
image
old_custom_components
tts
*.db*
*.log*
.sonoff.json
known_devices.yaml
